.banner {
    position: relative;
    width: 100%;
    height: 640px;
}

.banner_bg {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지를 배경처럼 꽉 차게 설정 */
}

.banner-text {
    position: absolute; /* 텍스트를 이미지 위에 배치 */
    top: 60%; /* 세로 위치 조정 */
    margin-left: 1000px;
    font-weight: bold; /* 진하고 두꺼운 글씨 */
    font-size: 35px; /* 글자 크기 조정 */
    color: white; /* 흰색 글씨 */
    text-align: right;
}

.value {
    background-image: url("../../../src/assets/Value/background.png");
}

.info {
    position: relative; /* 상대적 위치 설정 */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px; /* info-summary와의 간격 조정 */
}

.title_1 {
    font-size: 30px;
    color: #23443D;
    margin: 20px 0;

}

.hr_1,
.hr_2 {
    width: 80%;
    border: 0.5px solid;
    margin: 30px 0;
}

.hr_1 {
    border-color: #000000;
}

.hr_2 {
    border-color: #8B8B8B;
}

.info-text {
    font-size: 20px;
    margin: 20px 0;
    font-weight: 200;
}

.info-text p {
    margin-bottom: 5px; /* 각 문단 간 간격 */
    line-height: 1; /* 줄 높이 설정 */
}

.info-text p:nth-child(4),
.info-text p:nth-child(6),
.info-text p:nth-child(8) {
    margin-bottom: 50px !important; /* 우선순위 높이기 */
}

strong {
    color: #23443D;
    font-weight: 400;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-top: 100px;
}

.info-summary {
    position: relative; /* 필요시 상대적 위치 조정 */
    text-align: center; /* 중앙 정렬 */
}

.title_2 {
    font-size: 24px;
    color: #000000;
    margin-top: 300px;
    margin-bottom: 100px;
}

.info-img {
    max-width: 100%; /* 이미지 크기 조정 */
    height: auto;
    margin-top: 20px; /* 필요시 간격 조정 */
}

.coder {
    text-align: center; /* 내용 가운데 정렬 */
}

.info-text2 {
    margin-top: 300px;
    font-size: 25px;
}

.usage-info-container1 {
    margin-top: 100px;
    margin-bottom: 200px;
}

.info_img1 {
    width: 446px;
    margin-right: 10px;
}

.info_img2 {
    width: 633px;
    margin-right: 100px;
}

.info_img3 {
    width: 413px;
    margin-left: 10px;
}

.info_img4 {
    width: 806px;
    margin-left: 10px;
}

.info_img1, .info_img2, .info_img3, .info_img4 {
    height: 350px;
}

.info_top {
    margin-bottom: 100px;
}

.info_top, .info_bottom {
    display: flex;             /* Use Flexbox for layout */
    align-items: center;      /* Center items vertically */
    justify-content: space-between; /* Space items evenly */
}
.info_top_title, .info_bottom_title {
    font-size: 40px;
    color: #23443D;
    margin-bottom: 100px;
    font-weight: bold;
}

.info_top_ {
    font-size: 18px;          /* Adjust font size as needed */
    color: #8B8B8B;           /* Set text color */
    margin-left: 20px;
    margin-top: 200px;
    text-align: right;        /* Align text to the right */
    flex: 1;                  /* Allow this element to grow and fill space */
    letter-spacing: 1.5px;
}

.info_bottom_ {
    font-size: 18px;          /* Adjust font size as needed */
    color: #8B8B8B;           /* Set text color */
    margin-left: 20px;        /* Add space between images and text */
    text-align: left;        /* Align text to the right */
    flex: 1;
    margin-top: 200px;
    letter-spacing: 1.5px;
}
