.title {
    position: absolute;
    height: 48px;
    width: 173px;
    top: 244px;
    left: 874px;
}

.pass {
    position: absolute;
    top: 504px;
    left: 362px;
    width: 1196px;
    height: 152px;
}