.footer_bg {
    position: absolute;
    top: 6165px;
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
    width: 100%;
}
.camcoder_logo2 {
    position: absolute;
    top: 6233px;
    left: 50%;
    transform: translateX(-50%);
    height: 107px;
    width: 92px;
}
.line_3 {
    position: absolute;
    top: 6383px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.sk_mnm {
    position: absolute;
    top: 6420px;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    width: 173px;
}