.nav {
  display: flex;
  background-color: #0c4536;
  padding: 20px;
  list-style: none; /* 마커 제거 */
  align-items: center; /* 로고와 메뉴를 수평으로 정렬 */
  justify-content: space-between; /* 공간을 동일하게 분배 */
}

.navContainer {
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  display: flex;
  list-style: none; /* 마커 제거 */
  padding: 0;
  margin: 0;
}

.navItem {
  margin-right: 30px; /* 각 메뉴 항목 사이 간격을 30px로 설정 */
}

.navItem p {
  color: white;
  cursor: pointer;
  font-size: 25px; /* 글자 크기 설정 */
  margin-right: 30px; /* 각 메뉴 항목 사이의 간격을 30px로 설정 */
  line-height: 0px; /* 줄 간격 설정 */
}

.navItem:last-child {
  margin-right: 0; /* 마지막 메뉴 항목은 오른쪽 간격을 없앰 */
}

/* 마우스 커서를 올릴 때 글자 색깔 변화 */
.navItem p:hover {
  color: #03b888; /* 마우스 올릴 때 색깔 변화 (예: 초록색) */
}

/* 드롭다운 메뉴 스타일 */
.dropdown {
  color: white;
  display: none; /* 기본적으로 드롭다운 숨김 */
  position: absolute; /* 부모 요소에 대해 절대 위치 설정 */
  background-color: #0c4536; /* 드롭다운 배경색 */
  min-width: 0px; /* 드롭다운 최소 너비 */
  z-index: 1; /* 드롭다운이 다른 요소 위에 오도록 설정 */
  font-size: 20px; /* 글자 크기 설정 */
}

/* 드롭다운이 보일 때 스타일 */
.navItem:hover .dropdown {
  display: block; /* 드롭다운 표시 */
}

.dropdown li {
  color: white;
  list-style-type: none; /* 동그라미 제거 */
  padding: 10px; /* 드롭다운 항목의 여백 설정 */
  margin: 0;
  background-color: transparent; /* 기본 배경색을 투명하게 설정 */
}

.dropdown li:hover {
  color: #03b888; /* 드롭다운 항목에 마우스를 올릴 때 색깔 변화 */
  background-color: transparent; /* 기본 배경색을 투명하게 설정 */
}

.navItem a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: white; /* 링크 색상 설정 (원하는 색상으로 변경 가능) */
}

.navItem a:hover {
  color: #03b888; /* 마우스 올릴 때 색깔 변화 */
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("../../fonts/Pretendard-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Pretendard-Medium";
}

.logo {
  height: auto;
  width: 50px; /* 로고 크기 조정 */
  cursor: pointer;
  list-style: none; /* 마커 제거 */
}

.logoItem {
  display: flex;
  align-items: center; /* 로고가 수직 중앙 정렬되도록 */
  margin-right: 20px; /* 로고와 메뉴 사이 간격을 설정 */
}
